streamlit
groq
requests
pandas
numpy
scikit-learn
sentence_transformers
SpeechRecognition
pip==25.0.1
gtts
langdetect
torch
pickle
json
random
datetime
smtplib
email
qrcode
pyotp
tempfile

