streamlit
groq
requests
pandas
numpy
scikit-learn
sentence_transformers
speech_recognition
pip==25.0.1
gtts
langdetect
time
os
torch
pickle
json
random
datetime
smtplib
email
qrcode
pyotp
io
tempfile

